{% extends 'base.html' %}
{% block title %}
  <title>
    {{course_info.course.title}} -
    {% block subtitle %}
      {# I18N: Title of the webpage. #}
      {{ gettext('Course') }}
    {% endblock %}
  </title>
{% endblock %}

{% block assets %}
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <link rel="icon" href="assets/img/favicon.ico" />
  <link href="assets/css/main.css" rel="stylesheet" type="text/css">
  <link href="assets/css/minimal.mobile.css" rel="stylesheet" type="text/css"
        media="only screen and (max-device-width: 1024px)">

  <!-- jQuery should be imported first -->
  <script src="/static/jquery/jquery.min.js"></script>

  <script src="assets/lib/activity-generic-1.3.js"></script>

  <script src="/modules/oeditor/_static/js/butterbar.js"></script>
  <link rel="stylesheet" href="/modules/oeditor/_static/css/butterbar.css" media="screen" />
  <!-- nadia -->
  <!-- <link href="assets/css/font-awesome/css/font-awesome.min.css" rel="stylesheet"> -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> <!-- CAMBIAR ESTA UBICACION -->
  <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <!-- GOOGLE FONT -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Dosis:400,300,600,700' rel='stylesheet' type='text/css'>

  <!-- CUSTOM CSS -->
  <link href="assets/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/colors/default.css" id="option_color">

  
{% endblock %}

{% block navbar %}
  <!-- nav bar -->
  <nav id="menuBar" class="navbar navbar-default lightHeader" role="navigation" style="opacity: 1;">
        <div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-ex1-collapse" style="margin-top: 0px;">
            <ul class="nav navbar-nav navbar-left">

            {{ html_hooks.insert('base.after_navbar_begins') }}

            <li {% if navbar.announcements %}class='active'{% endif %} class="dropdown megaDropMenu color-1">
                {# I18N: Navbar tab. #}
                <a href="announcements">
                  <i class="fa fa-newspaper-o bg-color-1" aria-hidden="true"></i> 
                  <span>{{ gettext('Announcements') }}</span>
                </a>
            </li>


            <!-- <li {% if navbar.announcements %}class='active'{% endif %}>
          {# I18N: Navbar tab. #}
          <a href="announcements">{{ gettext('Announcements') }}</a>
        </li> -->

              
              <li {% if navbar.course %}class='active'{% endif %} class="dropdown megaDropMenu color-2">
                {# I18N: Navbar tab. #}
                <a href="course">
                  <i class="fa fa-book bg-color-2" aria-hidden="true"></i> 
                  <span>{{ gettext('Course') }}</span>
                </a>

                <!-- <li {% if navbar.course %}class='active'{% endif %}>
                  {# I18N: Navbar tab. #}
                  <a href="course">{{ gettext('Course') }}</a>
                </li> -->


              </li>

              {% if course_info.course.forum_email %}
              <li {% if navbar.forum %}class='active'{% endif %} class="dropdown singleDrop color-3">
                {# I18N: Navbar tab. #}
                <a href="forum">
                  <i class="fa fa-users bg-color-3" aria-hidden="true"></i> 
                  <span>{{ gettext('Forum') }}</span>
                </a>
              </li>
              {% endif %}
              <!--  {% if course_info.course.forum_email %}
          <li {% if navbar.forum %}class='active'{% endif %}>
            {# I18N: Navbar tab. #}
            <a href="forum">{{ gettext('Forum') }}</a>
          </li>
        {% endif %} -->


              {% if not transient_student %}
              <li {% if navbar.progress %}class='active'{% endif %} class="dropdown singleDrop color-4">
                {# I18N: Navbar tab. #}
                <a href="student/home">
                  <i class="fa fa-star-half-full bg-color-4" aria-hidden="true"></i> 
                  <span>{{ gettext('Progress') }}</span>
                </a>
              </li>
              {% elif can_register %}
              <li {% if navbar.registration %}class='active'{% endif %} class="dropdown singleDrop color-4">
                {# I18N: Navbar tab. #}
                <a href="register">
                  <i class="fa fa-calendar bg-color-4" aria-hidden="true"></i> 
                  <span>{{ gettext('Registration') }}</span>
                </a>
              </li>
              {% endif %}


               <!-- {% if not transient_student %}
          <li {% if navbar.progress %}class='active'{% endif %}>
            {# I18N: Navbar tab. #}
            <a href="student/home">{{ gettext('Progress') }}</a>
          </li>
        {% elif can_register %}
          <li {% if navbar.registration %}class='active'{% endif %}>
            {# I18N: Navbar tab. #}
            <a href="register">{{ gettext('Registration') }}</a>
          </li>
        {% endif %} -->


            <!-- right-aligned links are in order -->
        {% for href, link in right_links %}
        <li class="dropdown megaDropMenu color-2 gcb-pull-right">
                <a href="{{ href }}">
                  <i class="fa fa-file-text-o bg-color-2" aria-hidden="true"></i> 
                  <span>{{ link }}</span>
                </a>
              </li>
         
        {% endfor %}
        {% if show_course_explorer_tab %}
          {% if logoutUrl %}
            
            <li class="dropdown megaDropMenu color-2 gcb-pull-right">
                <a href="/">
                {# I18N: Text for title of navigation bar tab to reach list of
                 courses the current user is enrolled in or whitelisted for. #}
                  <i class="fa fa-file-text-o bg-color-5" aria-hidden="true"></i> 
                  <span>{{ gettext('My Courses') }}</span>
                </a>
              </li>
          {% else %}
          <li class="dropdown megaDropMenu color-2 gcb-pull-right">
                <a href="/explorer">
                {# I18N: Text for title of navigation bar tab to reach list of all
                 available courses when user is logged out. #}
                  <i class="fa fa-file-text-o bg-color-7" aria-hidden="true"></i> 
                  <span>{{ gettext('Explore Courses') }}</span>
                </a>
              </li>
          {% endif %}
        {% endif %}
        
            </ul>
          </div>


        </div>
      </nav>

      
      </ul>
    </div>
  </div>


  </div>

{% endblock %}
